<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Port" value="38594"/>
    <add key="WebPath" value="C:\Projects\KissCI\KissCI.Web"/>
    <add key="HostName" value="localhost"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
