@model Tuple<string, IEnumerable<KissCI.Internal.Domain.ProjectView>>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span3">
    @{ Html.RenderAction("Categories", "Project"); }
</div>
<div class="span9">
    <div class="project-view-table-container">
    @{ Html.RenderPartial("ProjectViewTable", Model); }
    </div>
</div>

