@using System;
@using System.Collections.Generic;
@using System.Linq;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<KissCI.Web.Models.Project.ProjectBuildView>

@{
    ViewBag.Title = @Model.Info.ProjectName;
    Layout = "Shared/_Layout";
}

<h4>@Model.Info.Category</h4>
<h1 class="page-header">@Model.Info.ProjectName</h1>

@Html.Partial("Project/ProjectBuildTable", Model)
