@model IEnumerable<string>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        
        <li class="nav-header">Categories</li>
        <li>@Html.ActionLink("All", "Index")</li>
        @foreach(var cat in Model){
            <li>
                @Html.ActionLink(cat, "List", new { categoryName = cat })
            </li>
        }
    </ul>
</div>