<configuration>
	<appSettings>
		<add key="webPages:Enabled" value="false" />
	</appSettings>
	<system.web>
		<compilation>
			<buildProviders>
				<add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
			</buildProviders>
		</compilation>
	</system.web>
</configuration>