@model IEnumerable<KeyValuePair<string,string>>

<table class="project-view-table table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Key</th>
            <th>Value</th>
                
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="keyPair">
                <td><a href="#" class="update-button">update</a><br /><a href="#" class="remove-button">remove</a></td>
                <td><input type="text" class="key" value="@item.Key" /></td>
                <td><input type="text" class="value" value="@item.Value" /></td>
            </tr>
        }

        <tr class="keyPair">
            <td><a href="#" class="add-button">add</a></td>
            <td><input type="text" class="key" value="" /></td>
            <td><input type="text" class="value" value="" /></td>
        </tr>
            
    </tbody>
</table>